---
- name: Installer K3s sur le Master
  shell: curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s # Rend la tâche idempotente (ne se relance pas si déjà installé)

- name: Attendre que le fichier node-token soit généré
  wait_for:
    path: /var/lib/rancher/k3s/server/node-token

- name: Lire le token du Master
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: node_token_raw

- name: Sauvegarder le token dans une variable (fact)
  set_fact:
    k3s_token: "{{ node_token_raw['content'] | b64decode | trim }}"

# Optionnel mais super pratique : Copier la config Kubernetes pour ton user 'admin1'
- name: Créer le dossier .kube pour l'utilisateur
  file:
    path: /home/admin/.kube
    state: directory
    owner: admin
    group: admin
    mode: '0755'

- name: Copier le fichier config k3s vers le profil utilisateur
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /home/admin/.kube/config
    remote_src: yes
    owner: admin
    group: admin
    mode: '0600'

- name: Rapatrier le fichier config K3s sur le PC Admin local
  fetch:
    src: /etc/rancher/k3s/k3s.yaml
    dest: ~/.kube/config-k3s
    flat: true

- name: Corriger l'IP dans le fichier config rapatrié (sur le PC Admin)
  delegate_to: localhost
  become: false
  replace:
    path: ~/.kube/config-k3s
    regexp: '127\.0\.0\.1'
    replace: "10.212.213.60"

- name: Créer le secret harbor-auth dans Kubernetes
  shell: |
    kubectl create secret docker-registry harbor-auth \
      --docker-server=harbor.grp-ay.lab \
      --docker-username=admin \
      --docker-password="AdminPassword123" \
      --docker-email=admin@grp-ay.lab \
      --dry-run=client -o yaml | kubectl apply -f -
  args:
    executable: /bin/bash
