---
# ==========================================
# ÉTAPE 1 : LA BASE DE SÉCURITÉ (CA & PROXY)
# ==========================================
- name: Déploiement Infra Sécurisée (Proxy)
  hosts: proxy
  become: true
  tags: proxy
  roles:
    - docker
    - ca
    - nginx
  tasks:
    - name: Récupérer le certificat CA vers la VM Admin
      fetch: 
        src: /opt/pki/rootCA.crt 
        dest: /tmp/fetched_certs/ 
        flat: true

# ==========================================
# ÉTAPE 2 : CONFIGURATION DES CLIENTS (TOUS)
# ==========================================
# C'est ici qu'on configure TOUT LE MONDE (Proxy, DNS, GitLab, Admin)
# pour qu'ils utilisent le DNS interne et fassent confiance à la CA.
- name: Configuration Généralisée des Clients
  hosts: all_vms
  become: true
  vars:
    dns_ip: "10.212.213.21"
  tags: client
  roles:
    - docker
    - client_setup
    - node-exporter
    - qemu_guest_agent


# ==========================================
# ÉTAPE 3 : LE SERVEUR DNS
# ==========================================
- name: Déploiement du Serveur DNS
  hosts: dns
  become: true
  vars:
    dns_ip: "10.212.213.21"
    reverse_proxy_ip: "10.212.213.20"
    gitlab_ip: "10.212.213.30"
  tags: dns
  roles:
    - dns

# ==========================================
# ÉTAPE 4 : L'USINE LOGICIELLE (GITLAB)
# ==========================================
- name: Déploiement GitLab
  hosts: gitlab
  become: true
  tags: git
  roles:
    - gitlab
    - gitlab_runner 

# ==========================================
# ÉTAPE 5 : Le Registre Harbor
# ==========================================
- name: Déploiement Harbor
  hosts: harbor
  become: true
  tags: harbor
  roles:
    - harbor

# ==========================================
# ÉTAPE 6 : Le Wiki Bookstack
# ==========================================
- name: Déploiement Bookstack
  hosts: bookstack
  become: true
  tags: bookstack
  roles:
    - bookstack

# ==========================================
# ÉTAPE 7 : Le Monitoring
# ==========================================
- name: Installation Monitoring Stack
  hosts: monitoring
  become: true
  tags: monitoring
  roles:
    - monitoring
