---
- name: Créer le namespace 'argocd'
  shell: kubectl create namespace argocd
  register: ns_result
  failed_when: false
  changed_when: "'created' in ns_result.stdout"

- name: Installer ArgoCD via le manifeste officiel (Server-Side)
  shell: kubectl apply --server-side --force-conflicts -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

- name: Configurer ArgoCD en mode HTTP (insecure) via ConfigMap officiel
  copy:
    dest: /tmp/argocd-cm.yml
    content: |
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: argocd-cmd-params-cm
        namespace: argocd
        labels:
          app.kubernetes.io/name: argocd-cmd-params-cm
          app.kubernetes.io/part-of: argocd
      data:
        server.insecure: "true"

- name: Appliquer la configuration Insecure
  shell: kubectl apply -f /tmp/argocd-cm.yml

- name: Redémarrer le serveur ArgoCD pour appliquer le mode HTTP
  shell: kubectl rollout restart deployment argocd-server -n argocd

- name: Créer le fichier manifeste de l'Ingress HTTP
  copy:
    dest: /tmp/argocd-ingress.yml
    content: |
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: argocd-server-ingress
        namespace: argocd
        annotations:
          kubernetes.io/ingress.class: traefik
          traefik.ingress.kubernetes.io/router.entrypoints: web
      spec:
        rules:
        - host: argocd.k3s.grp-ay.lab
          http:
            paths:
            - path: /
              pathType: Prefix
              backend:
                service:
                  name: argocd-server
                  port:
                    number: 80

- name: Appliquer l'Ingress ArgoCD
  shell: kubectl apply -f /tmp/argocd-ingress.yml

- name: Attendre que le serveur ArgoCD soit prêt (cela peut prendre 1min)
  shell: kubectl wait --for=condition=Available deployment/argocd-server -n argocd --timeout=300s

- name: Récupérer le mot de passe admin
  shell: kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d
  register: argocd_password
  failed_when: false 

- name: Afficher les informations
  debug:
    msg: 
      - "URL : https://argocd.k3s.grp-ay.lab"
      - "Mot de passe : {{ argocd_password.stdout | default('Déjà modifié') }}"
